<!-- Main Section starts here -->
<div class="task-section">
  <div class="task-heading">
    <h2> Lists of tasks </h2>
    <input type="text" class="searchBox" (keyup)="filterList($event)" placeholder="Search...">
    <button mat-raised-button color="primary" (click)="addNewTask()"> Add new task </button>
  </div>
  <div class="task-columns" cdkDropListGroup>
    <div class="priorityTable lowPriorityTable">
      <h3> Low Priority Tasks </h3>
      <div cdkDropList [cdkDropListData]="1" (cdkDropListDropped)="drop($event)">
        <app-task *ngIf="taskData && taskData.length" [taskData]="taskData?.low" (updateTaskList)="getTasksList()">
        </app-task>
      </div>
    </div>
    <div class="priorityTable mediumPriorityTable">
      <h3> Medium Priority Tasks </h3>
      <div cdkDropList [cdkDropListData]="2" (cdkDropListDropped)="drop($event)">
        <app-task *ngIf="taskData && taskData.length" [taskData]="taskData?.medium" (updateTaskList)="getTasksList()">
        </app-task>
      </div>
    </div>
    <div class="priorityTable highPriorityTable">
      <h3> High Priority Tasks </h3>
      <div cdkDropList [cdkDropListData]="3" (cdkDropListDropped)="drop($event)">
        <app-task *ngIf="taskData && taskData.length" [taskData]="taskData?.high" (updateTaskList)="getTasksList()">
        </app-task>
      </div>
    </div>
  </div>
</div>
<app-loader [loaderHide]="!isLoading"> </app-loader>