form{
    width: 100%;
    min-width: 550px;
    max-width: 550px;
}

.mat-form-field {
    width: 100%;
}

.custom-input input {
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 5px;
    padding: 15px 10px;
    box-sizing: border-box;
    color: #666;
}